* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.head {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.header {
    height: 100vh;
    padding: 200px 100px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

    .header:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.3);
    }



.spread {
    transform: translateX(0);
}



.titulo {
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
    position: relative
}

.copy {
    color: #fff;
    font-size: 15px;
    font-size: 20px;
    position: relative
}



.subtitulo {
    color: #9f8ad0;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
}


.carreras img {
    display: block;
    margin: auto;
}

.carreras a {
    display: block;
    width: 100%;
    padding: 8px 0;
    background: #000000;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

    .carreras a:hover {
        display: block;
        width: 100%;
        padding: 8px 0;
        background: #9f8ad0;
        border-radius: 10px;
        color: #fff;
        text-align: center;
        text-decoration: none;
    }


.number {
    display: inline-block;
    /* 02 */
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-weight: 700;
}

.gallery {
    background: #f2f2f2;
}

.contenedor-galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

.img-galeria {
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
    cursor: pointer;
}

.imagen-light {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.534);
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.agregar-imagen {
    width: 60%;
    transform: scale(0);
    border-radius: 20px;
    transition: transform .3s .2s;
}

.showImage {
    transform: scale(1);
}

.show {
    transform: translate(0);
}



.experts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.cont-expert {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

    .cont-expert img {
        display: block;
        margin: auto;
        width: 80%;
    }

    .cont-expert a {
        display: block;
        width: 100%;
        padding: 8px 0;
        background: #000000;
        border-radius: 3px;
        color: #fff;
        text-align: center;
        text-decoration: none;
    }

        .cont-expert a:hover {
            display: block;
            width: 100%;
            padding: 8px 0;
            background: #9f8ad0;
            border-radius: 10px;
            color: #fff;
            text-align: center;
            text-decoration: none;
        }

.n-expert {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    font-weight: 400;
}
