* {
    margin: 2px;
}

body {
    margin: 20px;
}

.fab {
    font-size: 25px;
    color: white;
}

.ig:hover {
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
}

.collapse {
    justify-content: end;
    margin-right: 20px;
}

footer {
    margin-top: 70px;
}

.navselection {
    height: 60px;
}
