
@{
    ViewBag.Title = "Administracion";
}


    <link href="~/css/administracion.css" rel="stylesheet" />

    <section>
        <center>
            <img src="~/img/ad1.jpg" width="800" height="300">
            <h2>Carrera de Administracion</h2>
            <p>
                La Carrera de Administración de Empresas está diseñada para formar profesionales capaces de administrar eficazmente recursos humanos, financieros, materiales y diseñar políticas estratégicas para el desarrollo empresarial.
            </p>
            <br>
            <br>

            <img src="~/img/ad2.jpg" width="470" height="250">

            <div class="divelement">
                <img src="~/img/ad4.jpg" width="470" height="250">
            </div>


            <img src="~/img/ad3.jpg" width="470" height="250">
            <div class="divelement">
                <img src="~/img/ad1.jpg" width="470" height="250">
            </div>
        </center>


    </section>




