
@{
    ViewBag.Title = "Administracion";
}


    <link href="~/css/administracion.css" rel="stylesheet" />

    <section>
        <center><img src="~/img/ad1.jpg" width="1000" height="300"></center>
        <center><h2>Carrera de Administracion</h2></center>
        <p>
            La Carrera de Administración de Empresas está diseñada para formar profesionales capaces de administrar eficazmente recursos humanos, financieros, materiales y diseñar políticas estratégicas para el desarrollo empresarial.
        </p>
        <br>
        <br>
        <center>
            <img src="~/img/ad2.jpg" width="470" height="250">

            <div>
                <img src="~/img/ad4.jpg" width="470" height="250">
            </div>
        </center>
        <center>
            <img src="~/img/ad3.jpg" width="470" height="250">
            <div>
                <img src="~/img/ad1.jpg" width="470" height="250">
            </div>
        </center>


    </section>




