
@{
    ViewBag.Title = "Contabilidad";
}

<link href="~/css/contabilidad.css" rel="stylesheet" />

<section>
    <center>
        <img src="~/img/xd9.jpg" width="800" height="300">

    <h2>Carrera de Contabilidad</h2>
    <p>La carrera de Contabilidad está creada para capacitar profesionales que puedan diseñar, establecer, aplicar, controlar, evaluar sistemas de formación contable, administración financiera y fiscal, además de organizar las distintas áreas de gestión empresarial y concebir políticas contables e interpretarlas con eficacia.</p>
    <br>
    <br>


        <img src="~/img/xd8.jpg" width="450" height="300">

        <div class="divelement">
            <img src="~/img/cont4.jpg" width="450" height="300">
        </div>
 
        <img src="~/img/cont1.jpg" width="450" height="300">
        <div class="divelement">
            <img src="~/img/cont3.jpg" width="450" height="300">
        </div>
 

    </center>
</section>
