
@{
    ViewBag.Title = "Electronica";
}

<link href="~/css/electronica.css" rel="stylesheet" />

<section>
    <center><img src="~/img/ele.jpg" width="1000" height="250"></center>

    <center><h2>Carrera de Electronica</h2></center>
    <p>La carrera de Electrónica y Automatización se enfoca en el estudio de los métodos y tecnologías que permiten la automatización de sistemas, la comunicación de voz, datos e imágenes; así como la optimización de dispositivos que forman equipos más complejos.</p>
    <br>
    <br>
    <center>
        <img src="~/img/ele1.jpg" width="450" height="300">

        <div>
            <img src="~/img/ele2.jpg" width="450" height="300">
        </div>
    </center>
    <center>
        <img src="~/img/ele3.jpg" width="450" height="300">
        <div>
            <img src="~/img/ele4.jpg" width="450" height="300">
        </div>
    </center>
</section>