
@{
    ViewBag.Title = "Electricidad";
}

<link href="~/css/electricidad.css" rel="stylesheet" />

<section>
    <center>
        <img src="~/img/a.jpg" width="800" height="300">

    <h2>Carrera de Electricidad</h2>
    <p>La Carrera de Electricidad estudia las ciencias básicas y profesionales  aplicables en los Sistemas Eléctricos de Potencia; mirando el control, automatización y gestión de la generación, transmisión, distribución y comercialización de la energía eléctrica convencional y no convencional; incentivando la innovación, el emprendimiento, con formación integral-académica-científica, con interés tecnológico-humanista, valores ético-profesionales, pertinencia, responsabilidad social y ambiental.</p>
    <br>
    <br>

    
        <img src="~/img/lol (1).jpg" width="450" height="300">

        <div class="divelement">
            <img src="~/img/lol (2).jpg" width="450" height="300">
        </div>
    
        <img src="~/img/lol (3).jpg" width="450" height="300">
        <div class="divelement">
            <img src="~/img/lol (5).jpg " width="450" height="300">
        </div>
    </center>

</section>
