
@{
    ViewBag.Title = "Inicio";
}

<link href="~/css/estilosIndex.css" rel="stylesheet" />
<header class="header" style="background-image: url('@Url.Content("~/img/imag2.jpg")'); width: 100% !important" id="inicio">
    <div class="contenedor head">
        <h1 class="titulo">Educación de Calidad que Transforma Vidas.</h1>
        <p class="copy">Ofrecemos una formación integral con valores y con compromiso social. Una educación inclusiva, de calidad, que forma personas, ciudadanos y ciudadanas.</p>
    </div>

</header>
    <br> 
    <br>
    <br>
    <br>

    <center>
        <h2 class="subtitulo"> Carreras</h2>

        <table width="808" border="0" class="carreras">
            <tr>
                <td>
                    <p><img src="~/img/ima.png" width="210" height="210" /></p>
                    <a href="~/Home/Informatica">INFORMATICA</a>
                </td>

                <td>
                    <p><img src="~/img/ima1.png" width="250" height="210" /></p>
                    <a href="~/Home/Electronica">ELECTRONICA</a>
                </td>

                <td>
                    <img src="~/img/ima2.png" width="290" height="210" />
                    <a href="~/Home/Administracion">ADMINISTRACION</a>
                </td>
            </tr>

            <tr>
                <td>
                    <p><img src="~/img/ima3.png" width="370" height="210" /></p>
                    <a href="~/Home/Electricidad">ELECTRICIDAD</a>
                </td>

                <td>
                    <p><img src="~/img/mer.png" width="220" height="210" /></p>
                    <a href="~/Home/Mercadeo">MERCADEO</a>
                </td>

                <td>
                    <p><img src="~/img/ima5.png" width="210" height="210" /></p>
                    <a href="~/Home/Contabilidad">CONTABILIDAD</a>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <p><img src="~/img/ima6.png" alt="" width="270" height="230" /></p>
                    <a href="~/Home/refigeracion">REFIGERACION</a>
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </center>
    <br><br>





    <
    <section class="gallery" id="galeria">
        <div class="contenedor">
            <h2 class="subtitulo">Galeria</h2>
            <div class="contenedor-galeria">
                <img src="~/img/foto1.jpg" width="300" height="200" class="img-galeria" alt="">
                <img src="~/img/foto2.jpg" width="300" height="200" class="img-galeria" alt="">
                <img src="~/img/charla.jpg" width="300" height="200" class="img-galeria" alt="">
                <img src="~/img/visita1.jpg" width="300" height="200" class="img-galeria" alt="">
                <img src="~/img/foto3.jpg" width="300" height="200" class="img-galeria" alt="">
                <img src="~/img/foto4.jpg" width="300" height="200" class="img-galeria" alt="">
            </div>
        </div>
    </section>






    <div class="imagen-light">
        <img src="~/img/close.svg" alt="" class="close">
        <img src="" alt="" class="agregar-imagen">
    </div>



    <section class="contenedor" id="expertos">
        <h2 class="subtitulo">Noticias:</h2>
        <center><p>Conozca lo más destacado de nuestras actividades & labor educativa.</p> </center>
        <br>
        <section class="experts">
            <div class="cont-expert">
                <img style="border: 3px solid; color: black;" src="~/img/1.jpg" height="250">
                <h2>Feliz Inicio del año escolar 2021-2022.</h2>
                <br>
                <a href="https://www.facebook.com/100000756962557/videos/913639795937543/">Ver Mas</a>
            </div>
            <div class="cont-expert">
                <img style="border: 3px solid; color: black;" src="~/img/2.jpg" height="250">

                <h2>9 de Marzo día del Natalicio de Francisco del Rosario Sánchez.</h2>
                <a href="https://www.facebook.com/emma.balaguer.9/posts/3573349172791034">Ver Mas</a>
            </div>
            <div class="cont-expert">
                <img style="border: 3px solid; color: black;" src="~/img/5.jpg" height="250">
                <h2>Entrega de Alimentos para los estudiantes y sus familias.        </h2>
                <br>
                <a href="https://www.facebook.com/emma.balaguer.9/posts/3535156929943592">Ver Mas</a>
            </div>
        </section>
    </section>






    <script src="~/js/lightbox.js"></script>


