
@{
    ViewBag.Title = "Informatica";
}

<link href="~/css/informatica.css" rel="stylesheet" />

<section>
    <center>
        <img src="~/img/foto1.jpg" width="800" height="300">

    <h2>Carrera de Informatica</h2>
    <p>La inform&#225;tica se refiere al procesamiento autom&#225;tico de informaci&#243;n mediante dispositivos electr&#243;nicos y sistemas computacionales. Los sistemas inform&#225;ticos deben contar con la capacidad de cumplir las tres tareas b&#225;sicas: ENTRADA (captaci&#243;n de la informaci&#243;n), PROCESAMIENTO y SALIDA (transmisio&#243;n de los resultados.)</p>
    <p>La inform&#225;tica abarca tambi&#233;n los principales fundamentos de la ciencias de la computaci&#243;n, como la programaci&#243;n para el desarrollo de Software, la arquitetura de las computadoras y del Hardware, las redes como internet y la inteligencia artificial. Incluso se aplica varios temas de la electr&#243;nica.</p>
    <br>
    <br>
   
        <img src="~/img/foto4.jpg" width="450" height="300">

        <div class="divelement">
            <img src="~/img/ft.jpg" width="450" height="300">
        </div>
   
        <img src="~/img/joshua.jpg" width="450" height="300">
        <div class="divelement">
            <img src="~/img/ftt.jpg" width="450" height="300">
        </div>
    </center>

</section>
