
@{
    ViewBag.Title = "Mercadeo";
}

<link href="~/css/mercadeo.css" rel="stylesheet" />

<section>
    <center>
        <img src="~/img/xd.jpg" width="800" height="300">

    <h2>Carrera de Mercadeo</h2>
    <p>La carrera de Mercadotecnia está diseñada para forjar profesionales capaces de analizar mercados e identificar necesidades, así como de satisfacerlas a través de la creación de un producto o servicio en diversos ámbitos.</p>
    <br>
    <br>

  
        <img src="~/img/xd1.jpg" width="450" height="300">

        <div class="divelement">
            <img src="~/img/mer.jpg" width="450" height="300">
        </div>
    
        <img src="~/img/mer1.jpg" width="450" height="300">
        <div class="divelement">
            <img src="~/img/mer2.png" width="450" height="300">
        </div>
    </center>

</section>
