
@{
    ViewBag.Title = "Quienes Somos";
}

<link href="~/css/quienesSomos.css" rel="stylesheet" />

<h1 class="title mt-5">¿Quiénes Somos?</h1>
<!--Historia-->
<link href="~/css/quienesSomos.css" rel="stylesheet" />
<article class="article history">
    <p>
        La escuela Emma Balaguer fue inaugurada en el año 1994 por el entonces presidente de la república Dr. Joaquin Balaguer Ricardo. Desde su fundación el centro es administrado por la Arquidiócesis de Santo Domingo, en su primer año de gestión el Centro operó solo con el nivel básico con alrededor de 800 estudiantes de 1ro a 8vo grado. A partir del segundo año escolar, 1995 - 1996, incrementó su matrícula a unos 3000 estudiantes. En ese mismo año se crea el primer liceo público diurno de sabana perdida, el Liceo Matutino Emma Balaguer.

        El plantel ha contado desde sus inicios con una dirección gerente la cual ejercida por el Rev. Padre Ricardo Arias 1995-2007 y luego asignada al Rev. Padre Nelson Ant. Acevedo en 2006 quien de forma muy diligente, competente y comprometida desempeñó esta función hasta el 2016.

        En el año 1997, El Ministerio de Educación, trasladó desde el Centro Otilia Peláez, el Liceo Nocturno Francsico del Rosario Sánchez, el cual es el liceo más antiguo de Sabana Perdida para que fuese administrado por la Emma Balaguer. Desde ese entonces forma parte del centro, también bajo la tutela del Liceo Nocturno funciona el programa de educación media de adulto regular Prepara.

        En el año 2008 se inicia la ampliación y remodelación de toda la planta física del Centro Emma Balaguer con la puesta en ejecución del proyecto de convertirlo en Politécnico (el primero en impartir las carreras técnica de Electricidad, Refrigeración y Electrónica en la Zona).

    </p>
    <article>
        <h3>Se construyeron</h3>
        <ul class="list">
            <li class="list-item">1 taller de electrónica.</li>
            <li class="list-item">1 taller de electricidad.</li>
            <li class="list-item">1 taller de refrigeración.</li>
            <li class="list-item">1 taller de redes.</li>
            <li class="list-item">4 pabellones de dos niveles.</li>
            <li class="list-item">12 aulas.</li>
            <li class="list-item">1 laboratorio de ciencias naturales.</li>
            <li class="list-item">1 laboratorio de física.</li>
            <li class="list-item">1 biblioteca.</li>
            <li class="list-item">1 laboratorio de informática.</li>
            <li class="list-item">1 laboratorio de idiomas.</li>
            <li class="list-item">8 baños de damas.</li>
            <li class="list-item">8 baños de caballeros.</li>
            <li class="list-item">1 edificio administrativo.</li>
            <li class="list-item">1 pabellón de un nivel donde funciona el nivel inicial.</li>
        </ul>
    </article>
</article>


<!-- MISION -->
<section>
    <article>
        <h2 class="title">Misión</h2>
        <p>
            El Centro Educativo Emma Balaguer es una institución pública de orientación cristiana católica, sin exclusión de credo, comprometida con la mejora contínua de todos los actores de la comunidad educativa, dedicada a la formación integral y el permanente desarrollo de la persona como un ente proactivo.
        </p>
    </article>

    <!--VISION -->
    <article>
        <h2 class="title">Visión</h2>
        <p>
            Seremos una institución identificada por su compromiso Socioeducativo de forma que nuestros egresados demuestren valores humanos y cristianos capaces de transformar y mejorar nuestra sociedad.
        </p>
    </article>

    <!--Valores-->
    <article>
        <h2 class="title">Valores</h2>
        <p>
            Nuestro lema es: "Educar para amar" de donde brotan los valores.
        </p>
        <ul>
            <li>Solidaridad.</li>
            <li>Fraternidad.</li>
            <li>Comprensión.</li>
            <li>Amor al projimo.</li>
        </ul>
    </article>
</section>
<aside class="aside">
    <div class="aside__contentImg">
        <img src="~/img/emma.jpg" alt="Doña Emma Balaguer de Vallejo" class="aside__img">
        <h3 class="aside__title">Doña Emma Balaguer de Vallejo.</h3>
    </div>
    <p class="aside__text">
        Emma Balaguer de Vallejo fue una facilitadora de grandes ayudas frente a su Hermano el Dr. Joaquin Balaguer. Por Doña Emma miles tienen su hogar hoy; cientos de mujeres consiguieron un taller de costura o un salón de belleza; La casa donde residía Doña Emma siempre estaba llena de gente. Cada día se cocinaba en su hogar 50 libras de Arroz, se peleban 40 ó 50 libras de víveres; sacos enteros de pan eran llevados a su casa para gente amiga, para ser repartidos. En fin, todo el que quisiese comer o desayunar en la casa de doña Emma lo hacía con facilidad, porque tanto el Dr. Balaguer como Emma se dieron al pueblo dominicano. Doña Emma no solo hizo favores en la capital, sino que todas las provincias del país saben quién es Doña Emma Balaguer. El 4 de Octubre de 1992, Doña Emma Balaguer Murió de un infarto al miocardio.
    </p>
</aside>
