
@{
    ViewBag.Title = "Refigeracion";
}

<link href="~/css/refigeracion.css" rel="stylesheet" />

<section>
    <center>
    <img src="~/img/ref.jpg" width="800" height="300">

    <h2>Carrera de Refigeracion</h2>
    <p>
        La carrera de Refrigeración se encarga de todo lo concerniente a los diseños de sistemas de refrigeración, así como la selección de los mejores procedimientos y  la articulación de construcciones frigoríficas y en la solución de los inconvenientes que se presenten relacionados al buen estado de de los sistemas de refrigeración.
    </p>
    <br>
    <br>


        <img src="~/img/ref1.jpg" width="450" height="300">

        <div class="divelement">
            <img src="~/img/ref2.jpg" width="450" height="300">
        </div>
    
        <img src="~/img/e.e.jpg" width="450" height="300">
        <div class="divelement">
            <img src="~/img/image.jpg" width="450" height="300">
        </div>
    </center>


</section>

