@{ ViewBag.Title = "Alumnos";
    Layout = "~/Views/Shared/LayoutProfesor.cshtml"; }

<h4 class="text-center">Alumnos</h4>
<style>
    .fas {
        font-size: 25px;
    }

    .dataTables_filter {
        float: left !important;
    }
</style>

@if (ViewBag.mensajeEliminar != null)
{
<div class="alert alert-danger text-center" style="height: 65px;" role="alert">
    <p>@ViewBag.mensajeEliminar</p>
</div>}


<script src="~/js/JsExcel.js"></script>

<script>
    function fnExcelReport(id, name) {
        var tab_text = '<html xmlns: x="urn:schemas-microsoft-com:office:excel">';
        tab_text = tab_text + '<head><xml><x: ExcelWorkbook><x: ExcelWorksheets><x: ExcelWorksheet>';
        tab_text = tab_text + '<x: Name>Test Sheet</x: Name>';
        tab_text = tab_text + '<x: WorksheetOptions><x: Panes></x: Panes></x: WorksheetOptions ></x: ExcelWorksheet > ';
        tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';
        tab_text = tab_text + "<table border='1px' style='color:black'>";


        var exportTable = $('#' + id).clone();
        exportTable.find('th').last().remove();
        exportTable.find('input').each(function (index, elem) { $(elem).remove(); });
        exportTable.find('a').each(function (index, elem) { $(elem).remove(); });

        tab_text = tab_text + exportTable.html();
        tab_text = tab_text + '</table></body></html>';
        var fileName = "Alumnos" + '.xls';

        //Save the file
        var blob = new Blob([tab_text], { type: "application/vnd.ms-excel;charset=utf-8" })
        window.saveAs(blob, fileName);
    }
</script>

@if (!(Session["Administrador"] == null && Session["Profesor"] == null))
{
<button class="btn btn-primary" onclick="javascript: fnExcelReport('datatable', 'data')">Exportar a Excel</button>}

@if (!(Session["Administrador"] == null))
{

<h2>
    <a style="float: right; color: blue" href="@Url.Content("~/Alumno/TodosAlumnosAdmin")"><i class="fas fa-arrow-alt-circle-left"></i></a>
</h2>
}
else
{
<h2>
    <a style="float: right; color: blue" href="@Url.Content("~/Alumno/TodosAlumnos")"><i class="fas fa-arrow-alt-circle-left"></i></a>
</h2>
}

<div>
    <table class="table table-bordered table-hover w-100" id="datatable">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Acciones</th>
            </tr>
        </thead>
    </table>
</div>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script>
        var dataTable;
        $(document).ready(function () {
            dataTable = $("#datatable").DataTable({
                "ajax": {
                    "url": "/Alumno/GetDataAlumnos",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "idAlumno" },
                    { "data": "nombre" },
                    { "data": "apellido" },
                    { "data": "telefono" },
                    {
                        "data": "idAlumno", "render": function (data) {
                            return "<a class='btn btn-primary' href='@Url.Content("~/Alumno/DetalleAlumno?Id=")" + data + "')><i class='fas fa-eye'></i>Ver Mas</a>";
                        },
                    }

                ],
                "language": {

                    "emptyTable": "No tiene Datos, porfavor presecione click en <b>Nuevo</b> Button"
                }
            });
        });

    </script>
}