
@{
    ViewBag.Title = "NoAutorizado";
}

<section class="container">
    <h1 class="text-danger">
        Error, no tienes permiso
    </h1>
    <div class="display-6">
        Para acceder a esta Seccion.
    </div>
</section>

<style>
    .container{
        margin-top: 70px;
    }
    footer{
        margin-top: 330px;
    }
</style>