@model IEnumerable<SitioWebColegio.Models.AsignaturaAlumno>

@{
    ViewBag.Title = "AlumnosProfesor";
    Layout = "~/Views/Shared/LayoutProfesor.cshtml";
}

<section style="margin-top:90px;"></section>
<h4 class="text-center">Mis Alumnos</h4>

<script src="~/js/JsExcel.js"></script>

<script>
    function fnExcelReport(id, name) {
        var tab_text = '<html xmlns: x="urn:schemas-microsoft-com:office:excel">';
        tab_text = tab_text + '<head><xml><x: ExcelWorkbook><x: ExcelWorksheets><x: ExcelWorksheet>';
        tab_text = tab_text + '<x: Name>Test Sheet</x: Name>';
        tab_text = tab_text + '<x: WorksheetOptions><x: Panes></x: Panes></x: WorksheetOptions ></x: ExcelWorksheet > ';
        tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';
        tab_text = tab_text + "<table border='1px' style='color:black'>";


        var exportTable = $('#' + id).clone();
        exportTable.find('th').last().remove();
        exportTable.find('input').each(function (index, elem) { $(elem).remove(); });
        exportTable.find('a').each(function (index, elem) { $(elem).remove(); });

        tab_text = tab_text + exportTable.html();
        tab_text = tab_text + '</table></body></html>';
        var fileName = "Profesores" + '.xls';

        //Save the file
        var blob = new Blob([tab_text], { type: "application/vnd.ms-excel;charset=utf-8" })
        window.saveAs(blob, fileName);
    }
</script>

<br />
<br />
<button class="btn btn-primary" onclick="javascript: fnExcelReport('datatable', 'data')">Exportar a Excel</button>


<table class="table" id="datatable">
    <tr>
        <th>
            Nombre Alumno
        </th>
        <th>
            Apellido Alumno
        </th>
        <th>
            Telefono Alumno
        </th>
        <th>
            Nombre Asignatura
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Alumno.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alumno.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alumno.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asignatura.nombre)
            </td>
        </tr>
    }

</table>
