@model IEnumerable<SitioWebColegio.Models.Asignatura>

@{
    ViewBag.Title = "Materias Profesor";
    Layout = "~/Views/Shared/LayoutProfesor.cshtml";

}

<section style="margin-top: 100px;"></section>

<h4 style="text-align: center;">Asignaturas Profesor</h4>

<table class="table">
    <tr>
        <th>
            Nombre Asignatura
        </th>
        <th>
            Acciones
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            <a class='btn' style='background-color: #9f8ad0; color: white' href='@Url.Content("~/Profesor/AlumnosAsignaturaProfesor?Id=") + @item.idAsignatura + ' )><i class='fas fa-eye'></i>Ver Alumnos</a>
        </td>
    </tr>
}

</table>
