@model List<SitioWebColegio.Models.viewModels.administradorViewModel>
@{
    ViewBag.Title = "Administrador";
    Layout = "~/Views/Shared/LayoutAdministrador.cshtml";
}

<h4 class="text-center">Bienvenido Administrador</h4>
<style>
    .fas {
        font-size: 18px;
    }

    .dataTables_filter {
        float: left !important;
    }
</style>

@if (ViewBag.mensajeEliminar != null)
{
    <div class="alert alert-danger text-center" style="height: 65px;" role="alert">
        <p>@ViewBag.mensajeEliminar</p>
    </div>
}

<a class="btn btn-success" href="@Url.Content("~/Administrador/Nuevo")">Nuevo</a>

<div>
    <table class="table table-bordered table-hover w-100" id="datatable">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Nombre Usuario</th>
                <th>Acciones</th>
            </tr>
        </thead>
    </table>
</div>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script>
        var dataTable;
        $(document).ready(function () {
            dataTable = $("#datatable").DataTable({
                "ajax": {
                    "url": "/Administrador/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "idAdmin" },
                    { "data": "nombre" },
                    { "data": "apellido" },
                    { "data": "nombreusuario" },
                    {
                        "data": "idAdmin", "render": function (data) {
                            return "<a class='btn btn-warning' href='@Url.Content("~/Administrador/Editar?Id=")" + data + "')><i class='fa fa-pencil'></i> Editar</a><a class='btn btn-danger' style='margin-left:5px' onclick='return jsEliminar();' href='@Url.Content("~/Administrador/Eliminar?Id=")" + data + "')><i class='fa fa-trash'></i> Eliminar</a>";
                        },

                        
                        "searchable":false,
                        "width":"150px"
                    }

                ],
                "language": {

                    "emptyTable" : "No tiene Datos, porfavor presecione click en <b>Nuevo</b> Button"
                }
            });
        });

    function jsEliminar() {
        return confirm("Estas Seguro que deseas eliminar este registro?");
    }
    </script>
}